body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20vh;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center; /* centre horizontalement les boutons */
  gap: 10vh;
}
