body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: center; /* centre horizontalement les boutons */
  gap: 1vh;
}
